:root {
  font-family: helvetica, monospace;
  --color-background-beige: RGBA(176,166,160,1.00);
  --color-background-blue: RGBA(53,71,97,1.00);
  --color-text-beige: RGBA(110,116,128,1.00);
}
@font-face {
  font-family: "norseBold";
  src: url("../sign-up-form/font/Norse-Bold.otf") format('opentype');
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
}
#background-image {
  max-width: 40vw;
  height: 100vh;
  flex-flow: column;
  flex: 1 1 auto;
}
#photo-credit{
  font-size: 0.7rem;
  position: relative;
  bottom: 35px;
}
.middle-left {
  position: absolute;
  width: 40vw;
  bottom: 40vh;
  background-color: RGBA(53,71,97,.3);
  height: 20vh;
  padding: 0;
  margin-right: 3px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
#logo {
  max-height: 15vh;
  max-width: 15vw;
  position: relative;
  align-items: center;
  justify-items: center; 
}
#logo-title {
  font-family: 'norseBold';
  color: white;
  font-size: 3rem;
}
.background-container {
  flex: 1;
  text-align: center;
  flex-direction: column;
}
.right-container {
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-background-beige);
  align-items: center;
  flex: 2;
}
.wrapper {
  text-align:left;
}
.text {
  padding: 15% 15% 5% 7%;
  margin: 0;
  color: var(--color-text-beige);
}
.text-bottom {
  padding: 5% 0% 0% 7%;
  color: var(--color-text-beige);
}
.button {
  padding: 8px 8px;
  border-radius: 5px;
  background-color: var(--color-background-blue);
  color: var(--color-background-beige);
  margin: 5% 15% 0% 7%;
}
#middle {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 5% 5% 5% 7%;
  background-color: var(--color-background-blue);
  min-height: 35%;
  color: var(--color-background-beige);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex: 3 1 auto;
}
#sign-up {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  align-content: space-around;
  font-size: 1.1rem;
  font-weight: lighter;
  max-width: 85%;
  flex: 1 4;
}
label {
  position: relative;
  width: 12rem;
}
input {
  position: relative;
  min-width: 25%;
  min-height: 1.5rem;
  border: var(--color-background-blue) solid 2px;
}
input:focus, .password:invalid:placeholder-shown {
  border: var(--color-background-beige) solid 2px;
  box-shadow: inset;
}
.password:invalid:focus {
  border: red solid 4px;
}
