:root {
  font-family: helvetica, 'Courier New', Courier, monospace;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0;
}
#background-image {
  max-width: 40vw;
  height: 100vh;
  flex-flow: column;
}
#photo-credit{
  font-size: 0.7rem;
  position: relative;
  bottom: 35px;
}
#logo {
  position: relative;
  align-items: center;
  width: 200px;
}
.background-container {
  flex: 1;
  text-align: center;
  flex-direction: column;
}
.right-container {
  flex-direction: column;
  height: 100vh;
  background-color: RGBA(176,166,160,1.00);
  align-items: center;
}
.wrapper {
  text-align:left;
}
.text {
  padding: 5% 15% 5% 7%;
  margin: 0;
  color: RGBA(110,116,128,1.00);
}
.text-bottom {
  padding: 5% 0% 0% 7%;
  color: RGBA(110,116,128,1.00);
}
.button {
  padding: 8px 8px;
  border-radius: 5px;
  background-color:RGBA(53,71,97,1.00);
  color: RGBA(176,166,160,1.00);
  margin: 5% 15% 0% 7%;
}
#middle {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 5% 5% 5% 7%;
  background-color: RGBA(53,71,97,1.00);
  height: 35%;
  color: RGBA(176,166,160,1.00);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
#sign-up {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  font-size: 1.1rem;
  font-weight: lighter;
  max-width: 80%;
  gap: 10px;
  flex: 1;
}
label {
  position: relative;
  color: RGBA(176,166,160,1.00);
}
.inputs {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 85px;
}
input {
  position: relative;
  min-width: 25%;
  min-height: 1.5rem;
}